.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: rgb(68, 28, 28);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0%;
  margin: 0;
}
.game-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
.guesses-container {
  display: flex;
  justify-content: space-between;
}

.player-feedback {
  flex: 1;
  margin: 0 10px;
}